.App {
  text-align: center;
  background-color: #ecdfdf;
  padding: 50px;
  font-family: sans-serif;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 15s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App button:not(:last-child) {
  margin-right: 8px;
}

.App .buttons-wrapper {
  text-align: center;
}

.App .button-container {
  display: flex;
  justify-content: center;
}

.App button {
  background-color: rgb(170, 82, 82);
  color: white;
  padding: 12px 20px;
  transition: background-color 0.3s;
  border: 2px solid transparent;
  border-color: brown;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.App button:hover {
  background-color: gray;
  border-color: brown;
  transform: scale(1.1);
}

.App h1 {
  font-size: 55px;
  padding-right: 17px;
}

.App h2 {
  font-size: 35px;
  padding-right: 20px;
  color: rgb(170, 82, 82);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
