.App {
  text-align: center;
  /* Add a subtle background color */
  background-color: #f5f5f5;
  /* Create more visual space */
  padding: 50px;
  /* Enhance font styling */
  font-family: sans-serif;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* Smoother animation */
  animation: App-logo-spin infinite 15s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin); /* Slightly larger font size */
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove underline for a cleaner look */
  font-weight: bold; /* Add emphasis to links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
